/** @format */

$background: #f3fdf4;
$primary: #16a34a;
$black: #0b0d0e;
$light-green: #d1fae5;
$light-purple: #e6f4ea;
$gray: #838696;
$dark-green: #1e3a08;
$mid-green: #6a8f63;
$green: #14532d;
$white: #ffffff;
